name: Update ISRO Calendar

on:
  schedule:
    - cron: '38 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run code
        run: python main.py

      - name: Commit .ics file
        run: |
          git config --local user.name "Github Action"
          git config --local user.email "action@github.com"
          git add docs/isro_launches.ics
          git diff-index --quiet HEAD || git commit -m "Update calendar: $(date)"
      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
